{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/consumirAPI.css' %}">
    <title>Consumindo API</title>
</head>
<body>
    <h1>Lista de Usuários</h1>
    <ul>
        {% for usuario in usuariosAPI %}
            <li>
                <span>Nome:</span> {{ usuario.name }}  
                <span>Email:</span> {{ usuario.email }}  
                <span>Empresa:</span> {{ usuario.company.name }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
